<!DOCTYPE html>
<html lang="en">

<head>
  <title>ernie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">  
</head>

<body>
    <div class="container">
      </br>
      </br>
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
    </div>
</body>
</html>

